@model EXPRESSO.Models.Header

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}



<table class="table tableHeader">
    
        <tr>

        <th>
            @Html.DisplayNameFor(model => model.Background_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTitle)
        </th>
        <th>

        </th>
        </tr>



        <tr>
        <td>
           <img src="~/Uploads/@Model.Background_img" class="img-thumbnail" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.SupTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.SubTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
        </td>
        </tr>



</table>
